<div class="well">
  <h3>Oscillator</h3>

  <p>Volume: {{Math.floor(volume * (50))}}</p>
  <input type="range" min="0" max="2" value="{{volume}}" step=".005" ng-model="volume" ng-change="changeVolume(volume)"/>
  <br>

  <p>Type: {{type}}</p>
  <select ng-model="type" ng-options="t for t in types" ng-change="changeType(type)"></select>
  <br><br>

  <p>Oscillator Frequency: {{frequency}}</p>
  <input type="range" min="20" max="1000" value="{{frequency}}" step="1" ng-model="frequency" ng-change="changeFrequency(frequency)"/>
  <br>

</div>

<div class="well">
  
  <h3>Filter</h3>

  <p>Type: {{filterType}}</p>
  <select ng-model="filterType" ng-options="t for t in filterTypes" ng-change="changeFilterType(filterType)"></select>
  <br><br>

  <p>Filter Frequency: {{filter}}</p>
  <input type="range" min="20" max="15000" value="{{filter}}" step="1" ng-model="filter" ng-change="filterFrequency(filter)"/>

</div>

<div class="well">
  <h3>LFO</h3>
  
  <!-- <button ng-click='lfoToggle()'>On/Off</button> -->
  <p>Destination: {{dest}} </p>
  <select ng-model="dest" ng-options="d for d in dests" ng-change="changeLfo(dest)"></select>
  <br>
  
  <p>Rate: {{lfoRate}} </p>
  <input type="range" min="0" max="100" value="{{lfoRate}}" step="1" ng-model="lfoRate" ng-change="changeRate(lfoRate)"/>
  <br>

  <p>Type: {{lfoType}}</p>
  <select ng-model="lfoType" ng-options="t for t in types" ng-change="changeLfoType(lfoType)"></select>
  <br>
</div>